<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
		<PublishDir>bin/Release/net8.0/publish/</PublishDir>
		<SelfContained>false</SelfContained>
		<PublishReadyToRun>true</PublishReadyToRun>
		<PublishSingleFile>false</PublishSingleFile>
		<Configuration>Release</Configuration>
	</PropertyGroup>
</Project>
